.wrapper {
    width: 100%;
    min-width: 1200px;
    min-height: 450px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 80px;
    background: #fff;
    padding: 24px;
    .func {
        width: 100%;
        height: 200px;
        margin: 0 auto;
        background:#EEF5F9;
        margin-bottom: 15px;
        padding: 30px;
        .input {
            font-size: 20px;
            margin-bottom: 10px;
        }
        .line {
            width: 40%;
            border-bottom: solid #000 1px;
            margin-top: 100px;
        }

    }

    .inputWrapper {
        float: left;
        margin-left: 30px;
    }

    .divsion {
        float: right;
        margin-right: 0px;
        margin-bottom: 15px;
        width: 28%;
        height: 200px;
        border-left: dashed 1px #000;
    }
    .icon {
        margin-right: 20px;
    }
}

.sidePosition {
    margin-left: 20px;
    .sidetitle {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .sideTable {
        width: 100%;
        border:1px solid #E8E8E8;
        border-radius: 2px;
        border-collapse: collapse
    }
    .sideHead {
        background:#EEF5F9;
        height: 30px;
        font-size: 16px;
    }
    .sideBodyTr {
        height: 30px;
        font-size: 14px;
        .sideBodyTh {
            font-weight: 400;
        }
    }
}

.button-color-sunset {
    background-color: #FAAD14;
    border-color: #FAAD14;

    &:hover, &:focus {
    background-color: #ffc53d;
    border-color: #ffc53d;
    }

    &:active, &.active {
    background-color: #d48806;
    border-color: #d48806;
    }
}

.createTitle {
    margin-left: 18px;
    font-size: 18px;
    margin-bottom: 15px;
}

.createWrapper {
    width: 100%;
    min-width: 1270px;
    height: 100%;
    margin: 0 auto;
    margin-top: 0px;
    background: #fff;
    padding: 24px;
    .middlewrapper {
        width: 95%;
        margin: 0 auto;
        .createleft {
            padding: 20px;
            border-radius: 8px;
            // float: left;
            background: #EEF5F9;
            // width: 40%;
            width: 100%;
            // height: 100%;
            height: auto;
            min-height: 220px;
        }
        .createright {
            border-radius: 8px;
            float: left;
            position: relative;
            // margin-left:4%;
            background: #EEF5F9;
            width: 56%;
            min-height: 425px;
            margin-top: 20px;
            .hardtitle {
                margin: 10px 10px 10px 10px;
                font-size: 18px;
            }
            .sensorSubmit {
                position: absolute;
                width: 90%;
                margin: 0 5%;
                right: 0px;
                bottom: 10px;
            }
        }
        .creatPump{
            border-radius: 8px;
            float: right;
            position: relative;
            // margin-left:4%;
            background: #EEF5F9;
            width: 42%;
            min-height: 425px;
            margin-top: 20px;
            margin-left: 10px;
            .pumpTitle{
                margin: 10px 10px 10px 10px;
                font-size: 18px;
            }
        }
    }
    
    .eCreateBlock {
        margin-left: 20px;
        float: left;
        margin-bottom: 20px;
        .choice {
            width: 170px;
        }
        .eCreateName {
            margin-bottom: 3px;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.85);
        }
    }

    .pCreateName{
        margin-left: 40px;
        margin-bottom: 3px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.85);
    }

    .pumpAlone{
        height: 80px;
    }

    .pumpchoice{
        margin-left: 40px;
        width: 200px;
        float: left;
    }

    .pIcon{
        margin-left: 50px;
        float: left;
        margin-top: 6px;
    }

    .eIcon{
        margin-left: 15px;
        float: left;
        margin-top: 28px;
    }
}

.scrapTable {
    text-align: center;
    td {
        width:100px;
        height:50px;
        padding:0px;
    }
    th {
        height:40px;
        background-color: #EEF5F9;
    }
}

.inputNOborder {
    border: 0;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
}

.textareaNOborder {
    border: 0;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    resize:none;
    width: 100%;
    height: 100%;
}

.spin {
    margin-left: 50%;
    margin-top: 200px;

}




