.sensorInfo {
    margin-left: 40px;
    .sensorTitle {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 4px;
    }
    .sensorCont {
        display: flex;
        font-size: 18px;
        margin-bottom: 5px;
        div label {
            margin-right: 10px;
        }
        div span {
            display: inline-block;
            width: 120px;
        }
    }
}