.header-style {
  width:1500px;
  height: 3rem;
  line-height: 3rem;
  background: linear-gradient(to right, white, #778899);
  position: fixed;
  z-index:999;
  margin: 0;
  padding: 0;
  top:0;
  left:0;
  img {
    height: 3rem;
    line-height: 3rem;
    margin-left: 0;
    vertical-align: middle;
    margin-top: -4px;
  }
  .header-span {
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: middle;
    margin-left: 1rem;
    margin-top: -4px;
    color: rgb(100, 100, 100);
  }
  // .date-span {
  //   float: right;
  //   margin-right: 1rem;
  //   color: #fff;
  //   font-size: 1.2rem;
  // }
  .header-property {
    float: right;
    margin-left:30px;
    margin-right: 650px;
    font-size: 1rem;
    div {
      background: #778899;
      color: aliceblue;
      padding: 0px 5px 0px 5px;
    }
  }
  .header-information {
    float: right;
    margin-left: 30px;
    font-size: 1rem;
    div {
      background: #778899;
      color: aliceblue;
      padding: 0px 5px 0px 5px;
    }
  }
  .header-maintenance {
    float: right;
    margin-left: 10px;
    font-size: 1rem;
    div {
      background: #778899;
      color: aliceblue;
      padding: 0px 22px 0px 22px;
    }
  }
}
