.wrapper {
  width: 100%;
  min-width: 1200px;
  min-height: 450px;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 80px;
  background: #fff;
  padding: 24px;
}
.name {
  margin: 60px 0 10px 0px;
  color: #000;
  font-size: x-large;
}
.steps-content {
  margin-top: 50px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  padding-top: 20px;
}
.steps-action {
  width: 250px;
  margin-top: 24px;
  float: right;
}
.pump_father {
  display: inline-block;
  width: 40%;
  margin-top: 20px;
}
.pump_name {
  width: 200px;
  margin-left: 10px;
  margin-bottom: 3px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
}
.pump_alone {
  height: 80px;
}
.pump_aline {
  display: flex;
}
.pump_choice {
  width: 200px;
}
.pump_icon {
  display: flex;
  justify-content: space-between;
  width: 60px;
  margin-left: 10px;
}
