.monitor2 {
    .clientWrapper {
        width: 100%;
        min-width: 1200px;
        min-height: 450px;
        margin: 0 auto;
        margin-top: 0px;
        margin-bottom: 80px;
        padding: 24px;
        .water {
            color: grey;
        }
        .water:hover{
            color: #00A0E9;
        }
        .table {
            position: relative;
            margin-top: 20px;
            // width: 720px;
            height: 120px;
            margin-bottom: 20px;
            left: 80px;
            span {
                float: left;
                border: 2px solid white;
                border-radius: 8px;
                box-shadow: 4px 4px #DCDCDC;
                background-color: white;
                height: 130px;
                width: 120px;
                margin-left: 30px;
                .describe {
                    position: relative;
                    top: 20px;
                    font-size: 16px;
                    font-weight: 600;
                    text-align: center;
                    cursor:pointer;
                }
                .equipMaintenance:hover{
                    color: red;
                }
                .statusColor {
                    position: relative;
                    top:35px;
                    left: 25px;
                    width: 70px;
                    height: 35px;
                    font-size: 15px;
                    text-align: center;
                    line-height: 35px;
                    background: green;
                    color: white;
                }
                .status {
                    position: relative;
                    font-size: 16px;
                    font-weight: 600;
                    text-align: center;
                    top: 55px;
                }
            .icon {
                font-size: 40px;
                font-weight: 600;
                // padding: 30px;
                margin-top: 30px;
                margin-left: 40px;
                cursor:pointer;
            }
            .dot {
                position: relative;
                background-color: red;
                width: 20px;
                height: 20px;
                border-radius: 10px;
                left:90px;
                top:-90px;
            }
            }
            .main {
                border-left: 0px;
            }
        }

        .tabborder {
            width: 82%;
            height: auto;
            border: 2px solid white;
            border-radius: 10px;
            box-shadow: 4px 4px #DCDCDC;
            background-color: white;
            margin-left: 100px;
            margin-top: 50px;
        }

        .ClientTab {
            // position: relative;
            // left: -520px;
            // // width: 1000px;
            position: relative;
            left: 80px;
            width: 700px;
            margin-bottom: 40px;
            .time {
                position: relative;
                margin-bottom: 10px;
            }
            .search {
                position: relative;
                margin-left: 20px;
            }
            .reset {
                position: relative;
                margin-left: 40px;
            }

        }
    }
    .name {
        display: inline-block;
        width: 350px;
        margin: 60px 60px 10px 0px;
        color: #000;
        font-size: x-large;
    }
    .company {
            display: inline-block;
            width: 350px;
            margin: 60px 60px 10px 0px;
            color: #000;
            font-size: x-large;
            cursor:pointer;
    }   
    .row {
        display: inline-block;
        background:#F8FAFF;
    } 
}
