.title {
    font-size: 2rem;
    font-weight: bold;
    width:440px;
    display: block;
    margin:0 auto;
}
.line-top {
    width: 200px;
    height: 10px;
    border-bottom: solid black 1px;
    display: block;
    margin:0 auto;
}
.Search {
    background: #cccccc;
    width: 900px;
    height: 100px;
    display: block;
    margin: 20px auto;
    .search-area {
        font-size: 15px;
        background: red;
        width: 100px;
        height: 30px;
        position: relative;
        left: 30px;
        top: 15px;
    }
}