.monitor1 {
  min-width: 1000px;
}
.monitor1 .wrappers {
  width: 100%;
  min-width: 1200px;
  min-height: 450px;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 80px;
  padding: 24px;
}
.monitor1 .wrappers .water {
  color: grey;
}
.monitor1 .wrappers .water:hover {
  color: #00A0E9;
}
.monitor1 .wrappers .table {
  position: relative;
  margin-top: 20px;
  height: 120px;
  margin-bottom: 20px;
  left: 15px;
}
.monitor1 .wrappers .table span {
  float: left;
  border: 2px solid white;
  border-radius: 8px;
  box-shadow: 4px 4px #DCDCDC;
  background-color: white;
  height: 130px;
  width: 120px;
  margin-left: 30px;
}
.monitor1 .wrappers .table span .describe {
  position: relative;
  top: 20px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
.monitor1 .wrappers .table span .equipMaintenance:hover {
  color: red;
}
.monitor1 .wrappers .table span .statusColor {
  position: relative;
  top: 35px;
  left: 25px;
  width: 70px;
  height: 35px;
  font-size: 15px;
  text-align: center;
  line-height: 35px;
  background: green;
  color: white;
}
.monitor1 .wrappers .table span .status {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  top: 55px;
}
.monitor1 .wrappers .table span .icon {
  font-size: 40px;
  font-weight: 600;
  margin-top: 30px;
  margin-left: 40px;
  cursor: pointer;
}
.monitor1 .wrappers .table span .dot {
  position: relative;
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  left: 90px;
  top: -90px;
}
.monitor1 .wrappers .tabborder {
  width: 95%;
  height: auto;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 4px 4px #DCDCDC;
  background-color: white;
  margin-left: 40px;
  margin-top: 50px;
}
.monitor1 .wrappers .tab {
  position: relative;
  left: 80px;
  width: 800px;
  margin-bottom: 40px;
}
.monitor1 .wrappers .tab .time {
  position: relative;
  margin-bottom: 10px;
}
.monitor1 .wrappers .tab .search {
  position: relative;
  left: 50px;
}
.monitor1 .wrappers .tab .reset {
  position: relative;
  margin-left: 70px;
}
.monitor1 .wrappers .tab .downData {
  float: right;
}
.monitor1 .wrappers .tab .currentData {
  width: 800px;
  min-height: 100px;
  padding: 20px;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.monitor1 .wrappers .tab .currentData div {
  margin-left: 40px;
  margin-top: 30px;
  width: 260px;
}
.monitor1 .wrappers .tab .currentData div .sensorValue {
  font-weight: bold;
}
.monitor1 .wrappers .tab .currentData .sensorValue {
  display: inline-block;
  width: 120px;
  text-shadow: 3px 3px 3px #DCDCDC;
}
.monitor1 .name {
  display: inline-block;
  width: 350px;
  margin: 60px 60px 10px 0px;
  color: #000;
  font-size: x-large;
}
.monitor1 .company {
  display: inline-block;
  width: 350px;
  margin: 60px 60px 10px 0px;
  color: #000;
  font-size: x-large;
  cursor: pointer;
}
.monitor1 .row {
  display: inline-block;
  background: #F8FAFF;
}
